.image {
    width: 80%;
    height: auto;
    margin-bottom: 1em;
}

#picture {
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
}

.quote {
    font-style: italic;
}