main {
    display: flex;
}

.player-name {
    margin-left: auto;
    color: rgb(0, 0, 0)
}

.investments {
    color: black;
    margin-bottom: 10px;
}

.total {
    color: black;
    margin-bottom: 40px;
}

.inputs {
    margin-bottom: 10px;
}

.top-head {
    color: white;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}